body {
  margin: 0;
  background-color: #EDF6E5;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  color: #B5EAEA;
  line-height: 2;
  margin: 50px auto 0 auto;
  font-family: "Sacramento", serif;
  font-size: 5.625rem;
}

h2 {
  color: #B5EAEA;
  font-family: "Montserrat", serif;
  font-weight: normal;
  font-size: 2.5rem;
}

h3 {
  color: #B5EAEA;
  font-family: "Montserrat", serif;
}
svg{
  height: 400px;
  width: 400px;
}
.skill-picture{

  width: 400px;
}

.top-container {
  padding-top: 100px;
}
a{
  color:#EDF6E5;
  font-family: "Montserrat", serif;
  margin: 10px 20px 10px 20px;
  text-decoration: none;
}

a:hover{
    color: #fff;
}

.copyright{
  color: #EDF6E5;
  font-size: 0.75rem;
}

hr{
  border-style: dotted none none;
  border-width: 5px;
  border-color: #FFBCBC;
  width: 5%;
}
.profile img{
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.skill-row{
  margin:100px auto 100px auto;
  width: 50%;
  line-height: 2;
}

.btn {


  background: #EDF6E5;
  background-image: -webkit-linear-gradient(top, #EDF6E5, #B5EAEA);
  background-image: -moz-linear-gradient(top, #EDF6E5, #B5EAEA);
  background-image: -ms-linear-gradient(top, #EDF6E5, #B5EAEA);
  background-image: -o-linear-gradient(top, #EDF6E5, #B5EAEA);
  background-image: linear-gradient(to bottom, #EDF6E5, #B5EAEA);
  -webkit-border-radius: 26;
  -moz-border-radius: 26;
  border-radius: 26px;
  font-family: Montserrat;
  color: #FFBCBC;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}


.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.bottom-container{
  padding: 20px 0 20px;
  background-color: #B5EAEA;

}

.contact-me{
  padding: 50px;
}
